.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-bottom: 0px;
}

.screen-header__title {
  margin-left: -15px;
  font-size: 30px;
  font-weight: 550;
}

.screen-header__icons {
  margin-right: -15px;
}

.screen-header__icons span {
  margin-left: 22px;
  position: relative;
}
